<div class="wrapper">
  <div class="basket-wrapper">
    <ng-container *ngIf="dishes && dishes.length; else emptyBasket">
      <div class="dish" *ngFor="let dish of dishes">
        <img [src]="dish[1].dish?.imageUrl" alt="dish-item">

        <p class="name">{{ dish[1].dish?.name }}</p>
        <p class="description">{{ dish[1].dish?.description }}</p>
        <p class="dish-price">{{ dish[1].dish?.price }} грн</p>
        <div class="counter">
          {{ dish[1].count }} (порції) x {{ dish[1].dish?.price }} (грн.) = {{ (dish[1].count) * (dish[1].dish?.price) }} грн.
        </div>
        <div class="price"></div>
        <img (click)="deleteDish(dish[1].dish?.id)" class="delete" src="./assets/img/delete.svg" alt="delete">
      </div>
    </ng-container>
    <ng-template #emptyBasket>
      <p class="emptyBasket">BASKET IS EMPTY!</p>
    </ng-template>

  </div>

  <div class="hr"></div>


  <form class="contacts">
    <label for="name">Ім'я</label>
    <input id="name" class="name">

    <label for="mobile">Телефон</label>
    <input id="mobile" class="mobile">

    <h5>Доставка лише у місті Львів</h5>

    <label for="street">Вулиця</label>
    <input id="street" class="street">

    <label for="build">Будинок</label>
    <input id="build" class="build">

    <div class="terms">
      <input type="checkbox">
    </div>
    <p>Оформляючи замовлення, я погоджуюся стати учасником програми лояльності "Power Food" і отримувати бонуси за
      покупки і інші переваги участі.</p>
  </form>

  <div class="hr"></div>

  <div class="buy" *ngIf="dishes && dishes.length">
    <p>Всього до сплати: {{ getTotalPrice() }}грн</p>
    <button class="submit">Підтвердити купівлю</button>
  </div>

</div>


