<div class="wrapper">
  <div class="basket-wrapper">
    <ng-container *ngIf="dishes && dishes.length; else emptyBasket">
      <div class="dish" *ngFor="let dish of dishes">
        <img [src]="dish[1].dish?.imageUrl" alt="dish-item">

        <p class="name">{{ dish[1].dish?.name }}</p>
        <p class="description">{{ dish[1].dish?.description }}</p>
        <p class="dish-price">{{ dish[1].dish?.price }} грн</p>
        <div class="counter">
          {{ dish[1].count }} (порції) x {{ dish[1].dish?.price }} (грн.) = {{ (dish[1].count) * (dish[1].dish?.price) }} грн.
        </div>
        <div class="price"></div>
        <img (click)="deleteDish(dish[1].dish?.id)" class="delete" src="./assets/img/delete.svg" alt="delete">
      </div>
    </ng-container>
    <ng-template #emptyBasket>
      <p class="emptyBasket">BASKET IS EMPTY!</p>
    </ng-template>

  </div>

  <div class="hr"></div>


  <form class="contacts"
        [formGroup]="orderRestaurantForm"
        (ngSubmit)="onSubmit()"
        *ngIf="dishes && dishes.length">

    <div class="label-wrapper">
      <label for="name">Ім'я</label>
      <input id="name" class="name" formControlName="name">
    </div>

    <div class="label-wrapper">
      <label for="phone">Телефон</label>
      <input id="phone" class="phone" formControlName="phone">
    </div>

    <div class="label-wrapper">
      <label for="email">Email</label>
      <input id="email" class="email" formControlName="email">
    </div>

    <div class="label-wrapper">
      <label for="street">Вулиця</label>
      <input id="street" class="street" formControlName="street">
    </div>

    <div class="label-wrapper">
      <label for="build">Будинок</label>
      <input id="build" class="build" formControlName="build">
    </div>

    <button class="submit button" type="submit" [disabled]="!orderRestaurantForm.valid">Підтвердити купівлю</button>

  </form>

  <div class="hr"></div>

  <div class="buy" *ngIf="dishes && dishes.length">
    <p>Всього до сплати: {{ getTotalPrice() }}грн</p>
  </div>

</div>


