@import "../../../../../assets/mixins/mixin-buttons";
@import "../../../../../assets/variables";
@include btn();

.wrapper {
  width: 90%;
  margin: 0 auto;

  .buy {
    p {
      color: $red;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .basket-wrapper {
    display: flex;
    margin: 10px 0;
    flex-direction: column;

    .emptyBasket {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }

    .dish {
      display: flex;
      margin: 10px 0;
      position: relative;

      img {
        width: 200px;
        height: auto;
        margin-right: 10px;

        &.delete {
          width: 40px;
          height: auto;
          cursor: pointer;
        }
      }

      .name {
        margin-right: 10px;
      }

      .counter {
        position: absolute;
        color: $fire;
        bottom: 0;
        left: 50%;
      }
    }
  }

  .hr {
    border-bottom: 1px solid $gray;
    width: 100%;
  }

  form.contacts {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;

    .label-wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      label {
        flex: 1;
        text-align: right;
        line-height: 1.5;
      }

      input {
        margin-left: 10px;
        flex: 1;
      }
    }



    h5 {
      font-style: italic;
      color: $fire;
      margin: 10px 0;
    }

    .terms {
      display: flex;
    }

    .submit {
      font-size: 14px;
      width: 50%;
      margin: 0 0 0 auto;
    }
  }

  .buy {

    p {
      margin: 20px 0;
    }

    button {
      margin-bottom: 20px;
    }
  }
}


