<div class="wrapper">
  <div class="comments-head">
    <h3>160 comments</h3>
    <span>Write a comment</span>
    <span>Subscribe to comments</span>
  </div>

  <div class="textarea-wrapper">
    <img src="./../../../../assets/img/user.png" alt="user">

    <div class="textarea">
      <textarea name="textarea" id="textarea" placeholder="Write a comment...">

      </textarea>
    </div>

  </div>

  <div class="send">
    <button class="button">Write a comment</button>
    <span>Ctrl + Enter</span>
  </div>

  <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>

</div>
