<header>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/basket-restaurant']" routerLinkActive="active">
          КОРЗИНА РЕСТОРАНУ <span *ngIf="basket && basket.size">({{ basket ? basket.size : 0 }})</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/basket-rations']" routerLinkActive="active">КОРЗИНА РАЦІОНІВ </a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a
          [routerLink]="'/'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >ГОЛОВНА</a>
      </li>
      <li>
        <a [routerLink]="'/restaurant'" routerLinkActive="active">РЕСТОРАН</a>
      </li>
      <li>
        <a [routerLink]="'/rations'" routerLinkActive="active">РАЦІОНИ</a>
      </li>
      <li>
        <img src="../../../assets/img/new-logo.png" alt="logo" [routerLink]="'/'">
      </li>
      <li>
        <a [routerLink]="'/contacts'" routerLinkActive="active">КОНТАКТИ</a>
      </li>
      <li>
        <a [routerLink]="'/delivery'" routerLinkActive="active">ДОСТАВКА І ОПЛАТА</a>
      </li>
      <li>
        <a *ngIf="!currentUser" [routerLink]="'/auth'" routerLinkActive="active">ВХІД</a>
      </li>
      <li class="user" *ngIf="currentUser">
        <img  src="./assets/img/user.svg" alt="user" (click)="userMenu =!userMenu">

        <div class="menu">
          <ul>
            <li *ngIf="userMenu" >
              <a (click)="logout()">ВИХІД</a>
              <p>{{ this.currentUser.username }}</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>


