<header>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/basket-restaurant']" routerLinkActive="active">
          КОРЗИНА РЕСТОРАНУ <span *ngIf="basket && basket.size">({{ basket ? basket.size : 0 }})</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/basket-rations']" routerLinkActive="active">КОРЗИНА РАЦІОНІВ </a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a
          [routerLink]="'/'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >ГОЛОВНА</a>
      </li>
      <li>
        <a [routerLink]="'/restaurant'" routerLinkActive="active">РЕСТОРАН</a>
      </li>
      <li>
        <a [routerLink]="'/rations'" routerLinkActive="active">РАЦІОНИ</a>
      </li>
      <li>
        <img src="../../../assets/img/logo-new.png" alt="logo" [routerLink]="'/'">
      </li>
      <li>
        <a [routerLink]="'/contacts'" routerLinkActive="active">КОНТАКТИ</a>
      </li>
      <li>
        <a [routerLink]="'/delivery'" routerLinkActive="active">ДОСТАВКА І ОПЛАТА</a>
      </li>
    </ul>
  </nav>
</header>


