@import "../../../assets/variables";

header {
  background-color: $black;
  padding: 15px 0;

  nav {

    ul{
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      align-items: center;

      &:first-child {
        margin-bottom: 15px;
      }

      li {
        cursor: pointer;

        a {
          text-decoration: none;
          color: $white;
          font-size: 16px;

          &.active {
            color: $gray;
          }

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
        }

        img {
          width: 150px;
          height: auto;
        }

        &.user {
          position: relative;

          img {
            width: 40px;
            height: auto;
          }

          .menu {
            position: absolute;
            top: 75px;
            right: 0;

            ul {

              li {
                border: 1px solid $black;
                border-radius: 0 0 3px 3px;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: $black;
                width: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                  color: $white;

                }

                a {
                  color: $orangered;
                  margin-bottom: 10px;
                }
              }
            }
          }

        }
      }
    }
  }
}



