@mixin btn() {
  .button {
    letter-spacing: 1.8px;
    font-weight: 500;
    text-transform: uppercase;
    transition: $transition;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 2px;
    margin: 0 auto;
    padding: 12px 30px;
    font-size: 20px;
    background-color: white;

    &.disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

$transition: all ease 0.3s;
