<div class="wrapper">

  <div class="menu">
    <button class="menu-title button" (click)="toggleMenu('accordion')">Меню</button>

    <div class="accordion" [@slideInOut]="animationState">
      <ul>
        <li>
          <a (click)="getAllDishes()">Все меню</a>
        </li>
        <li *ngFor="let menuItem of dishesMenuName">
          <a (click)="chooseDishType(menuItem.type)">{{ menuItem.name }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="restaurant-list-wrapper">
    <ng-container *ngFor="let dish of (dishes$ | async); let index = index">
      <div class="dish-preview-wrapper">
        <h2 class="title">{{ dish.name }}</h2>
        <a [routerLink]="['/restaurant', dish.id, {type : dish.type}]">
          <img [src]="dish.imageUrl" alt="">
        </a>
        <p class="price">{{ dish.price }} грн.</p>
        <app-counter #counterComponent> </app-counter>
        <button class="button" (click)="addToRestaurantBasket(dish, index)"
                [disabled]="counterComponent.counter.value === 0 || counterComponent.counter.value === null"
                [ngClass]="{'disabled': counterComponent.counter.value === 0 || counterComponent.counter.value === null}"
        >Додати у кошик</button>
      </div>
    </ng-container>
  </div>

</div>






