<div class="bread-crumb">
  Головна / Power Lunch / Ланч №2 – 125/200 г
</div>

<div class="dish-item-wrapper">
  <img [src]="dish?.imageUrl" alt="{{ dish?.name }}">
  <div class="description">
    <h2>{{dish?.name}}</h2>
    <p class="price">{{dish?.price}}</p>
    <p class="about">{{dish?.description}}</p>

    <app-counter #counterComponent> </app-counter>

    <button class="submit button" (click)="addToRestaurantBasket(dish, counterComponent.counter.value)"
            [disabled]="counterComponent.counter.value === 0 || counterComponent.counter.value === null"
            [ngClass]="{'disabled': counterComponent.counter.value === 0 || counterComponent.counter.value === null}">
      Додати у кошик!
    </button>
  </div>

</div>
