@import "../../../../assets/mixins/mixin-buttons";
@import "../../../../assets/variables";

@include btn();

.bread-crumb {
  margin: 20px auto auto 10px;
}

.dish-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 20px 10px 10px 10px;
  grid-gap: 10px;

  img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
  }

  .description {
    display: flex;
    flex-direction: column;
    position: relative;

    h2 {
      align-self: center;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
    }

    .about {
      margin: 10px auto;
    }

    .price {
      color: $fire;
      font-size: 20px;
      margin-top: 20px;

      &.emptyOrder {
        opacity: 0.4;
      }
    }

    .submit {
      position: absolute;
      bottom: 0;
    }

    button {
      font-size: 10px;
    }
  }
}
