

<div class="wrap">
  <div class="top">
    <video loop #videoPlayer autoplay >
      <source src="../../../assets/video/videoplayback.mp4" type="video/mp4" />
      Browser not supported
    </video>
  </div>
  <div class="bottom">
    <div class="left">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="9">
        <ng-container *ngFor="let point of points">
          <agm-marker  [latitude]="point.lat" [longitude]="point.lng"></agm-marker>
          <agm-circle [latitude]="+point.lat" [longitude]="+point.lng"
                      [radius]="5000"
                      [fillColor]="'red'"
                      [circleDraggable]="false"
                      [editable]="false">
          </agm-circle>
        </ng-container>

      </agm-map>
    </div>
    <div class="center">
      <h2>Meet Us</h2>
      <p>+380 00 000 00</p>
    </div>
    <div class="right">
      <h2>Pitch Us</h2>
    </div>
  </div>
</div>
