.wrapper {
  display: flex;
  width: 90%;
  justify-content: center;

  img {
    max-width: 600px;
    height: auto;
  }
}

.wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  .top {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
