@import "../../../../assets/variables";

ul {
  display: flex;
  width: auto;
  max-width: 300px;
  justify-content: flex-start;

  li {
    padding: 10px;

    span {
      color: $black;
      cursor: pointer;
      font-weight: bold;
      font-style: italic;

    }
  }
}
