<footer>
  <div class="left-wrapper">
    <p>
      <i class="fa fa-phone"></i>
      +38 (096) 801 14 90 - Доставка з меню ресторану
    </p>
    <p>
      <i class="fa fa-phone"></i>
      +38 (096) 801 14 92 - Доставка збалансованих раціонів
    </p>
    <p>
      <i class="fa fa-map-marker"></i>
      м. Львів, вул. Івана Мазепи, 1Б (СТРЦ “Spartak City”)
    </p>
    <p>
      <i class="fa fa-map-marker"></i>
      м. Львів, вул. Порохова 20Д
    </p>
    <p>
      <i class="fa fa-clock"></i>
      Пн - Нд з 10:00 по 22:00 - Режим роботи ресторану
    </p>
    <p>
      <i class="fa fa-clock"></i>
      Пн - Нд з 10:00 по 21:00 - Режим прийому замовлень для доставки з ресторану
    </p>
    <p>
      <i class="fa fa-clock"></i>
      Пн - Нд з 10:00 по 18:00 - Режим прийому замовлень для доставки збалансованих раціонів
    </p>
  </div>

  <div class="right-wrapper">
    Lorem ipsum dolor sit amet.
  </div>
</footer>
